*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    overflow: hidden;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#start-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(128, 128, 128, 0.1);
    backdrop-filter: blur(8px);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 10;
}

#start-button {
    padding: 20px 40px;
    font-size: 2rem;
    letter-spacing: .1rem;
    color: white;
    border: 4px solid white;
    background: rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(24px);
    border-radius: 2rem;
    cursor: pointer;
    transition: all 0.3s ease-out;
}

#start-button:hover {
    background: rgba(255, 255, 255, 0.4);
    letter-spacing: .2rem;
}