*
{
    margin: 0;
    padding: 0;
}

html,
body
{
    /* overflow: hidden; */
    font-family: 'Montserrat', 'Arial', 'Helvetica Neue', Arial, sans-serif;
}

h1 {
    font-size: 5rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    margin: 0 1rem 4rem;
}

.mobile-title {
    display: none;
}

.webgl
{
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
}

#start-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    backdrop-filter: blur(8px);
    z-index: 10000;
}

#start-button {
    margin-top: 2rem;
    padding: 20px 40px;
    font-size: 1.25rem;
    font-weight: 400;
    letter-spacing: .1rem;
    color: white;
    border: none;
    background: rgba(255, 255, 255, .4);
    cursor: pointer;
    transition: all 0.2s;
    border-radius: .75rem;
}

#start-button:hover {
    color: #999393;
    background: white;
}

#mute-toggle {
    position: fixed;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
    left: 18px;
    bottom: 18px;
    z-index: 10010;
    font-size: 1.1em;
    padding: 0.4em 1.2em;
    border-radius: 1.5em;
    border: none;
    cursor: pointer;
    background: transparent;
    color: #fff;
    transition: all 0.1s ease-out;

    span {
        line-height: 32px;
    }
}

#mute-toggle:hover {
    background: rgba(255, 255, 255, 0.15);
}

#instructions {
    text-align: center;
    color: #fff;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.instructions-title {
    text-align: center;
    padding: 0.25rem 3rem;
    font-weight: 400;
    display: inline;
    background-color: #1e6ac4;
    clip-path: polygon(3% 0%, 97% 0%, 100% 50%, 97% 100%, 3% 100%, 0% 50%);
}

.scrolling-wrapper {
  -webkit-overflow-scrolling: touch;
  display: flex;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: visible;
  max-width: 95vw;
  margin-top: 1rem;

  &::-webkit-scrollbar {
    display: none;
  }
}

.leftArrow {
    position: absolute;
    left: 1rem;
    bottom: -2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

.rightArrow {
    position: absolute;
    right: 1rem;
    bottom: -2rem;
    transform: translateY(-50%);
    font-size: 2rem;
    color: #fff;
    cursor: pointer;
}

@media (max-width: 600px) {
    html, body
    {
        overflow: scroll;
    }

    .desktop-title {
        display: none;
    }

    .mobile-title {
        display: block;
        font-size: 2.5rem;
        margin: 12rem 1rem 10rem;
        text-align: center;
    }

    #start-screen {
        position: relative;
        height: auto;
        width: auto;
        padding: 2rem;
    }

    #start-button {
        display: none;
    }

    #start-button-mobile {
        position: fixed;
        z-index: 10000;
        bottom: 2.5rem;
        left: 50%;
        transform: translateX(-50%);
        width: 90vw;
        margin-top: 2rem;
        padding: 20px 40px;
        font-size: 1.25rem;
        font-weight: 400;
        letter-spacing: .1rem;
        color: white;
        border: none;
        background: rgba(255, 255, 255, .2);
        cursor: pointer;
        transition: all 0.2s;
        border-radius: .75rem;
        backdrop-filter: blur(8px);
    }

    #start-button:hover {
        color: #999393;
        background: white;
    }

    #mute-toggle {
        left: initial;
        bottom: initial;
        right: .5rem;
        top: 1rem;
    }

    .scrolling-wrapper {
        flex-direction: column;
        gap: 0;
        margin-top: .5rem;
    }

    .instructions-title {
        padding: 0.25rem 2rem;
    }

    #instructions {
        margin-bottom: 6rem;
    }
}